services:
  web:
    build:
      context: .
      args:
        VERSION: "${VERSION}"
    environment:
      SECRET_KEY_BASE: "${SECRET_KEY_BASE}"
      DATABASE_URL: "${DATABASE_URL}"
      PHX_SERVER: "true"
      PHX_HOST: "localhost"
      PORT: "8888"
    ports:
      - "8888:8888"
    depends_on:
      - postgres
    command: >
      sh -c "/app/bin/notes eval 'Notes.Release.migrate' &&
            /app/bin/notes start"

  postgres:
    image: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: notes
      PGDATA: /var/lib/postgresql/data/pgdata
    restart: always
    volumes:
      - ./pgdata:/var/lib/postgresql

  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - web

  grafana:
    image: grafana/grafana
    restart: unless-stopped
    user: '0'
    environment:
      - GF_SERVER_HTTP_PORT=3003
    volumes:
      - ./grafana_data:/var/lib/grafana
      - ./grafana/dashboards:/var/lib/grafana/dashboards
      - ./grafana/provisioning:/etc/grafana/provisioning
    ports:
      - "3003:3003"
    depends_on:
      - prometheus

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - web
      - grafana
      - prometheus

volumes:
  caddy_data:
  caddy_config: