<Layouts.app flash={@flash} current_scope={@current_scope}>
  <.header>
    Edit Note
    <:subtitle>Change details or content of your note.</:subtitle>
  </.header>

  <.note_form changeset={@changeset} action={~p"/notes/#{@note}"} return_to={~p"/notes"} />
</Layouts.app>
