name: CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  build_test:
    name: Build & Test
    runs-on: ubuntu-latest

    services:
      db:
        image: postgres:16
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_DB: notes_test
        ports:
          - 5432:5432
        options: >-
          --health-cmd="pg_isready -U postgres"
          --health-interval=5s
          --health-timeout=5s
          --health-retries=5

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          elixir-version: "1.17.3"
          otp-version: "27.0"

      - name: Install dependencies
        run: mix deps.get

      - name: Setup database
        env:
          MIX_ENV: test
        run: |
          mix ecto.create
          mix ecto.migrate

      - name: Run tests
        env:
          MIX_ENV: test
        run: mix test --trace

      - name: Run Credo (Linter)
        run: mix credo

  docker_build:
    name: Docker Build
    runs-on: ubuntu-latest
    needs: build_test

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t notes-app .
